{:paths ["src" "spools/src" "dev"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1048"}
        org.xerial/sqlite-jdbc {:mvn/version "3.46.1.0"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        nrepl/nrepl {:mvn/version "1.3.1"}
        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}
        com.bhauman/rebel-readline {:mvn/version "0.1.5"}}
 :aliases
 {:test {:extra-paths ["test" "spools/shuttle/src" "spools/chime/src"]
         :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "skein.test-runner"]}
  :repl {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
  :rebel {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
          :main-opts ["-m" "rebel-readline.main"]}
  :skein {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
  :smoke {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
          :main-opts ["-m" "skein.smoke"]}}}
